<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	 <!-- 자동으로 카멜케이스 규칙으로 변환 -->
	 <settings>
	    <setting name="mapUnderscoreToCamelCase" value="true"/>
	 </settings>
	 
	<typeAliases>
		<typeAlias type="com.hyuyuna.narcissus.fate.vo.UserVO" alias="userVO" />
		<typeAlias type="com.hyuyuna.narcissus.product.vo.ProductVO" alias="productVO" />
		<typeAlias type="com.hyuyuna.narcissus.reply.vo.ReplyVO" alias="replyVO" />
		<typeAlias type="com.hyuyuna.narcissus.customer.vo.CustomerVO" alias="customerVO" />
		<typeAlias type="com.hyuyuna.narcissus.common.FileVO" alias="fileVO" />
	</typeAliases>	  
	
	<mappers>
		<mapper resource="mapping/fate-mapping.xml" />
		<mapper resource="mapping/customer-mapping.xml" />
		<mapper resource="mapping/product-mapping.xml" />
		<mapper resource="mapping/reply-mapping.xml" />
	</mappers>
	
</configuration>
